* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: rgb(75, 95, 159);
    position: sticky;
    top: 0;
}

.nav a {
    display: flex;
    flex-direction: row;
    padding: 10px;
    color: #ffffff;
    font-family: "sans-serif";
    font-size: 2em;
}

.nav li:hover {
    background-color: #a1add1;
    border-radius: 5px;
    transition: 0.3s ease;
}

.profile_logo {
    margin: 5;
    padding: 10px;
    font-size: 1.1em;
}

.login_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 400px;
    border: 1px solid rgb(75, 95, 159);
    border-radius: 10px;
    background-color: rgba(169, 169, 169, 0.61);
}

h2 {
    padding: 10px;
    font-family: "sans-serif";
    color: rgb(75, 95, 159);
}

.main {
    font-size: 1.5em;
    color: black;
}

p {
    font-family: "sans-serif";
    font-size: 1.2em;
}

.login_form {
    display: flex;
    flex-direction: column;
    margin: 20px;
    font-family: "sans-serif";
}

input[type=email], input[type=password] {
    padding: 10px;
}

button {
    padding: 5px;
}